<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ConsumerPayment">

	<listeners>
		<listener class-name="com.consumerPayments.utilities.Reporting"/>
	</listeners>
	<test name="ConsumerPayment Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<!--<class name="com.consumerPayments.testCases.TC_LoginTest_0001"/>-->
			<!--<<class name="com.consumerPayments.testCases.TC_AcceptPaymentSearch_0002"/>-->
			<!--<class name="com.consumerPayments.testCases.TC_LoginDD_0002" />-->
			<!--<class name="com.inetbanking.testCases.TC_AddCustomerTest_003" />-->
			<class name="com.consumerPayments.testCases.TC003_AccountSearch_CreditCard_Visa_Pay"/>
			<class name="com.consumerPayments.testCases.TC004_AccountSearch_CreditCard_MasterCard_Pay"/>
			<class name="com.consumerPayments.testCases.TC005_AccountSearch_CreditCard_Discover_Pay"/>
			<class name="com.consumerPayments.testCases.TC006_AccountSearch_CreditCard_AmericanExpress_Pay"/>
		</classes>
	</test>

</suite>